<!DOCTYPE html>

<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Codescandy">
  {% load static %}
  <!-- Favicon icon-->
  <link rel="shortcut icon" type="image/x-icon" href=".{% static 'images/favicon/favicon.ico' %}">

  <!-- Libs CSS -->
  <link href="{% static 'libs/bootstrap-icons/font/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'libs/@mdi/font/css/materialdesignicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'libs/simplebar/dist/simplebar.min.css' %}" rel="stylesheet">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
  <!-- Theme CSS -->
  <link rel="stylesheet" href="{% static 'css/theme.min.css' %}">
  <!-- dropzone -->
  <link href="{% static 'libs/dropzone/dist/dropzone.css' %}" rel="stylesheet">
  <title>ARC Master</title>
</head>

<body>
  <!-- Wrapper -->
  <main id="main-wrapper" class="main-wrapper">
    <div class="header">
      <!-- navbar -->
      <div class="navbar-custom navbar navbar-expand-lg">
        <div class="container-fluid px-0">
          <a class="navbar-brand d-block d-md-none" href="/">
            <img src="{% static 'images/brand/logo/opera-log.png' %}" alt="Image">
          </a>

          <a id="nav-toggle" href="/" class="ms-auto ms-md-0 me-0 me-lg-3 ">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor"
              class="bi bi-text-indent-left text-muted" viewBox="0 0 16 16">
              <path
                d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm.646 2.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L4.293 8 2.646 6.354a.5.5 0 0 1 0-.708zM7 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
            </svg></a>

          <div class="d-none d-md-none d-lg-block">
          </div>
          <!--Navbar nav -->
          <ul class="navbar-nav navbar-right-wrap ms-lg-auto d-flex nav-top-wrap align-items-center ms-4 ms-lg-0">
            <a href="#" class="form-check form-switch theme-switch btn btn-ghost btn-icon rounded-circle mb-0 ">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
              <label class="form-check-label" for="flexSwitchCheckDefault"></label>

            </a>
            </li>

            <!-- List -->
            <li class="dropdown ms-2">
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownUser">
                <ul class="list-unstyled">

                  {% if user.is_authenticated %}
                  <li>
                    <a class="dropdown-item" href="/accounts/logout/">
                      <i class="me-2 icon-xxs dropdown-item-icon" data-feather="power"></i>Sign Out
                    </a>
                  </li>
                  {% else %}
                  <li>
                    <a class="dropdown-item" href="/accounts/signup/">
                      <i class="me-2 icon-xxs dropdown-item-icon" data-feather="power"></i>Sign Up
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/accounts/login/">
                      <i class="me-2 icon-xxs dropdown-item-icon" data-feather="power"></i>Sign In
                    </a>
                  </li>
                  {% endif %}
                </ul>

              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- navbar vertical -->
    <!-- Sidebar -->

    <div class="navbar-vertical navbar nav-dashboard">
      <div class="h-100" data-simplebar>
        <!-- Brand logo -->
        <h3 class="navbar-brand" href="/">
          ARC Master
        </h3>
        <!-- Navbar nav -->
        <ul class="navbar-nav flex-column" id="sideNavbar">

          <!-- Home -->
          <li class="nav-item">
            <a class="nav-link has-arrow  collapsed " href="#!" data-bs-toggle="collapse" data-bs-target="#navHome"
              aria-expanded="false" aria-controls="navDashboard">
              <i data-feather="home" class="nav-icon me-2 icon-xxs"></i>
              Home
            </a>

            <div id="navHome" class="collapse " data-bs-parent="#sideNavbar">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link " href="/howtouse/">
                    How to use
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="/aboutopera/">
                    About Opera
                  </a>
                </li>

              </ul>
            </div>

          </li>

          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link has-arrow " href="">
              <i data-feather="user" class="nav-icon me-2 icon-xxs">
              </i> Profile
            </a>
            <a class="nav-link has-arrow " href="/accounts/logout/">
              <i data-feather="calendar" class="nav-icon me-2 icon-xxs">
              </i> Sign Out
            </a>
          </li>
          {% else %}
          <!-- Nav item -->
          <li class="nav-item">
            <a class="nav-link has-arrow " href="/accounts/signup/">
              <i data-feather="message-square" class="nav-icon me-2 icon-xxs">
              </i> Sign Up
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link has-arrow " href="/accounts/login/">
              <i data-feather="message-square" class="nav-icon me-2 icon-xxs">
              </i> Sign In
            </a>
          </li>
          {% endif %}


        </ul>


      </div>
    </div>

    <!-- Page Content -->
    <div id="app-content">
      <div class="app-content-area">
        <div class="container-fluid">

          <div class="row align-items-center">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
    <!-- Page Content End -->
  </main>

  <!-- vendor -->
  <!-- dropzone -->
  <script src="{% static 'libs/dropzone/dist/min/dropzone.min.js' %}"></script>
  <!-- flatpickr -->
  <script src="{% static 'libs/flatpickr/dist/flatpickr.min.js' %}"></script>
  <!-- quill js -->
  <script src="{% static 'libs/quill/dist/quill.min.js' %}"></script>

  <!-- Libs JS -->
  <script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'libs/feather-icons/dist/feather.min.js' %}"></script>
  <script src="{% static 'libs/simplebar/dist/simplebar.min.js' %}"></script>

  <!-- Theme JS -->
  <script src="{% static 'js/theme.min.js' %}"></script>
  <!-- popper js -->
  <script src="{% static 'libs/@popperjs/core/dist/umd/popper.min.js' %}"></script>
  <!-- tippy js -->
  <script src="{% static 'libs/tippy.js/dist/tippy-bundle.umd.min.js' %}"></script>
  <script src="{% static 'js/vendors/tooltip.js' %}"></script>
  <script src="{% static 'libs/jQuery.print/jQuery.print.js' %}"></script>
</body>

</html>